body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-size: 12px;
}

<<<<<<< HEAD
#tasks .completed {
  background: #ccc;
=======
#tasks.completed {
  background-color: #ccc;
>>>>>>> 439b7f80316d05aca273a5e33eef9fcb35b19707
  text-decoration: underline;
}

